<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="/friends/list" method="get">
    token : <input type="text" name="token" value="ef8c370995a6db8418991a176dea8857a95da8e94bf32ce19079f0a968d0e6ab"/><br/>
    pageNo : <input type="text" name="pageNo"><br/>
    pageEntries:<input type="text" name="pageEntries"/><br/>
    ctrn : <input type="text" name="ctrn"/><br/>
    drtn : <input type="text" name="drtn"/><br/>
    <input type="submit" value="提交">
</form>
</body>
</html>