<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
</head>
<body>
<div align="center">
    <a href="/test/regist">注册</a><br/>
    <a href="/test/login">登录</a><br/>
    <a href="/test/token">获取token</a><br/>
    <a href="/test/auth">校验token</a><br/>
    <a href="/test/situation">获取数据</a><br/>
    <a href="/test/friends/search">搜索用户</a><br/>
    <a href ="/test/friends/request">添加好友申请</a><br/>
    <a href ="/test/friends/add/request/list">获取申请列表</a><br/>
    <a href ="/test/friends/add/request/handler">处理请求</a><br/>
    <a href ="/test/friends/list">获取好友列表</a><br/>
    <a href="/test/friends/delete">删除好友</a><br/>
    <a href="/test/friends/handler/list">获取处理结果</a><br/>
    <a href="/test/location/position">更新地理位置</a><br/>
    <a href="/test/location/get">获取地理位置</a><br/>
    <a href="/test/disconnect">断开连接</a><br/>
    <a href="/test/user/setNickName">修改昵称</a><br/>
    <a href="/test/user/setPassword">修改密码</a><br/>
    <a href="/test/friends/sendMessage">发送消息</a><br/>
    <a href="/test/friends/messageList">消息列表</a><br/>
    <a href="/test/user/email/send">发送邮件</a><br/>
    <a href="/test/user/email/auth">邮箱验证</a><br/>
    <a href="/test/user/setPortrait">修改头像</a><br/>
</div>
</body>
</html>