<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="/user/regist" method="post">
    username:<input type="text"name="username" value=""><br/>
    password : <input type="text" name="password" value=""><br/>
    email : <input type="text" name="email" value=""><br/>
    mobile : <input type="text" name="mobile" value=""><br/>
    nickName : <input type="text" name="nickName" value=""><br/>
    birthday : <input type="text" name="birthday" value=""><br/>
    <br/>
    <input type="submit" value="提交"/>
</form>
</body>
</html>